<mat-card class="example-card">
  <mat-card-header>
    <img mat-card-avatar src="https://avatars.githubusercontent.com/u/117815458?v=4" alt="image profil">
    <mat-card-title>{{recipe.user.fullname}} </mat-card-title>
    <mat-card-subtitle>Username</mat-card-subtitle>
  </mat-card-header>
  <img class="max-h-[400px] object-cover" mat-card-image
      [src]="recipe.image" alt="Photo">
  <mat-card-content>
    <p>
      {{recipe.description}}
    </p>
  </mat-card-content>
  <mat-card-actions class="flex justify-between">
    <div>
      <button mat-icon-button aria-label="Example icon button with a home icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button (click)="handleOpenEditRecipeForm()"
        mat-icon-button aria-label="Example icon button with a home icon">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button aria-label="Example icon button with a home icon">
        <mat-icon>share</mat-icon>
      </button>
    </div>
    <div>
      <button mat-icon-button aria-label="Example icon button with a home icon">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </mat-card-actions>
</mat-card>
